@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 바탕 설정 */
html,
body {
  padding: 0;
  margin: 0;
}

body {
  @apply bg-slate-900 text-slate-50 font-sans;
}

/* 스크롤바 살짝 얇게 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.6);
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
